@using TurboASP.Models;

@{
}

@model SearchKeys



<p style="color: red; font-size: 2em;">The car with specified charasteristics (
Brand: @Model.Brand <br/>
Model: @Model.Model <br />
MaxYear: @Model.MaxYear <br />
MinYear: @Model.MinYear <br />
MaxPrice: @Model.MaxPrice <br />
MinPrice: @Model.MinPrice <br />
MinMileage: @Model.MinMileage <br />
MaxMileage: @Model.MaxMileage <br />
Engine Capacity: @Model.EngineCapacity
)<br />
is not found</p>