
@using TurboASP.Models
@using TurboASP.Repository

@{
}

@model Car

<div class="col-lg-3 col-md-4 col-sm-6 mb-4">

    <div class="card car-card">
        @if (Model.ImageFile != null) {

            <img src="~/lib/Images/@Model.ImageFile.FileName" class="card-img-top">

        }
        else {
            <img src="~/lib/Images/images.jfif" class="card-img-top">
        }
        <div class="card-body">

            <div class="car-price">
                @Model.Price
            </div>

            <div class="car-title">
                @Model.Brand @Model.Model
            </div>

            <div class="car-info">
                @Model.Year | @Model.Mileage km | @Model.EngineCapacity L
            </div>
            <div class="car-info">
                @Model.Date
            </div>
            <a asp-action="Listing" asp-controller="Car" asp-route-id="@Model.Id" class="stretched-link"></a>

        </div>
    </div>
</div>

