
@using TurboASP.Models
@using TurboASP.Repository

@{
}

@model List<Car>


@foreach (Car c in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

        <div class="card car-card">

            <img src="~/lib/Images/images.jfif" class="card-img-top">

            <div class="card-body">

                <div class="car-price">
                    @c.Price
                </div>

                <div class="car-title">
                    @c.Brand @c.Model
                </div>

                <div class="car-info">
                    @c.Year | @c.Mileage km
                </div>
                <div class="car-info">
                    @c.Date
                </div>
                <a href="#" class="stretched-link"></a>

            </div>
        </div>
    </div>

}
